// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 { color: #000000;
	font-size: 40px;
	text-align: center;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h2{
	color: #000000;
	font-size: 25px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

table {
	display: table;
	border-collapse: separate;
	border-spacing: 5px;
	border-color: gray;
    margin-left:auto; 
    margin-right:auto;
    margin-top: 10px;
    color: #000000;
  }

p{
	font-size: 15px;
}

thead {
	font-size: 25px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

td {
	font-size: 16px;
}

a:link{
	color: #F00;
}

a:visited {
	color: #FFFFFF;
}

body{
	text-align: center;
}

div#background img {min-height: 100%;
	min-width: 1024px;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;

}

div#content{
z-index: 20;
position:relative;
}

label{
	font-size: 20px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

div#comments p {
	font-size: 16px;
}
div#content p#notice{
	font-size: 22px;
	color: rgb(22, 252, 0);
}

