<!DOCTYPE html>
<html>
<head>
  <title>Myapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<div id = "background">
<img src="http://3.bp.blogspot.com/-pE8yhMlp_vQ/T7Gc6kgsAcI/AAAAAAAAAr0/MAGms6j3oEw/s1600/Old_Paper_by_struckdumb.jpg" alt-"background" />

<div id="content">
<%= yield %>
</div>
</div>

</body>
</html>
